<h1> <%= @user.firstname%> Details </h1>
<% if @user.image.attached? %>
  <%= image_tag(@user.image) %>
<% end %>
<div>First Name : <%=@user.firstname%></div>
<div>Last Name :  <%=@user.lastname%></div>
<div>Email Id : <%=@user.email_id%> </div>
<div>User Name :  <%=@user.username%> </div>
<div>Address :  <%=@user.address%> </div>
<div>Phone No : <%=@user.contact_no%></div>
<div>DOB : <%=@user.dob%></div>
   

<h3> <%= @user.firstname%> Education Details | <%= link_to "Add Education Deatils", new_user_education_path(@user) %></h3>
<%if @user.user_educations.any? %>
  <table class="table table-light">
    <tr>
      <th>Degree </th>
      <th>University</th>
      <th>Grade</th>
      <th>Percentage</th>
      <th>Actions</th>
    </tr>
    <% @user.user_educations.each do |education|%>
      <tr>
      <td><%=education.degree%></td>
      <td><%=education.university_name%></td>
      <td><%=education.grade%> </td>
      <td><%=education.percentage%> </td>
      <td> <%= link_to "Edit", edit_user_user_education_path(@user,education)%> </td>
      <td><%= button_to 'Delete', user_user_education_path(@user,education), method: :delete, data: {confirm: "Are you sure?"} %></td>  
    <% end %>
  </table>
<% else %>
    <div> No Education Details Added.</div>
<% end %>

